.idea
__pycache__
.vscode
/resources/*.xlsx
/release/
release
/common/static/static.go
/common/resources/resources.go
/Dockerfile.local
/abfs
/labfs
/deployment/freeradius/lfreemate
__debug_bin
dist/
assets/
/assets/resources/~$bss_dev_templates.xlsx
/assets/resources/~$bss_templates.xlsx
.DS_Store
/bss.yml

node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
